@page "/recipes"
<h3><i class="fa fa-dolly-flatbed"></i>&nbsp;Recipes</h3>
@if (!string.IsNullOrWhiteSpace(Model.StatusMessage))
{
    <div class="alert alert-@Model.Status">
        <i class="fa fa-dolly-flatbed"></i>&nbsp;
        @Model.StatusMessage
    </div>
}
<SectionContent SectionName="page-buttons">
    <div id="searchBox" class="input-group header-search" style="display:none;">
        <span class="input-group-text text-warning"><i class="fa fa-search"></i></span>
        <input id="txtSearch" type="text" class="form-control" placeholder="Search" value="@Model.Search" @onchange="SearchTerm" />
        <span class="input-group-text" onclick="hideSearchBox()"><i class="fa fa-times"></i></span>
    </div>
    <span id="controlBox">
    @if (!Model.ShowForm)
    {
        <button class="btn text-primary" @onclick="AddRecipe" title="Add user">
            <i class="fa fa-plus"></i>
        </button>
            <button class="btn text-warning" onclick="showSearchBox()">
            <i class="fa fa-search"></i>
        </button>
    }
    </span>
    
</SectionContent>
<div class="itemsList">
    <ul>
        @foreach (var prod in Model.Recipes)
        {
            <li data-id="@prod.ID" data-username="@prod.Name" @onclick="()=>{ LoadRecipe(prod.ID); }" class="text-success">
                <div class="leftindicator">
                    @* <i class="fa @(GetIconFromCategory(prod.Category))"></i> *@
                    &nbsp
                </div>
                <div class="centerdetails">
                    <h5>
                        @prod.Name
                    </h5>
                    <p>@prod.Description</p>
                </div>
                <div class="rightaction">
                    <button class="btn text-secondary" @onclick="()=>{ LoadRecipe(prod.ID); }">
                        <i class="fa fa-caret-right"></i>
                    </button>
                </div>
                <button style="display:none" class="btn btn-outline-danger" @onclick="()=>{ DeleteRecipe(prod.ID); }"><i class="fa fa-times"></i></button>
            </li>
        }
    </ul>
</div>
@if (Model.ShowForm)
{
    
}

<script>
    function showSearchBox(){
        $('#searchBox').show();
        $('#controlBox').hide();
        $('#txtSearch').focus();
    }

    function hideSearchBox(){
        $('#searchBox').hide();
        $('#controlBox').show();
    }
</script>